{% extends 'components/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Login/Register</h1>
        {% if login %}
            <h2 class="text-center">Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        {% else %}
            <h2 class="text-center">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        {% endif %}
    </div>
{% endblock %}